mlDieselWS/Connected Services/TicketCardService/TicketCarServicesFacade16.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Cards.Responses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Cards.Responses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://demo.edenred.com.mx/Homologacion/ExternalTicketCar/TicketCarServicesFacade.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Common" />
  <xs:import schemaLocation="https://demo.edenred.com.mx/Homologacion/ExternalTicketCar/TicketCarServicesFacade.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Orders" />
  <xs:import schemaLocation="https://demo.edenred.com.mx/Homologacion/ExternalTicketCar/TicketCarServicesFacade.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Cards" />
  <xs:complexType name="CardRequisitionCreditDistributionResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Common" minOccurs="0" name="ErrorList" nillable="true" type="q1:ArrayOfErrorDTO" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Orders" minOccurs="0" name="Item" nillable="true" type="q2:CreditDistributionOrderDTO" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardRequisitionCreditDistributionResponse" nillable="true" type="tns:CardRequisitionCreditDistributionResponse" />
  <xs:complexType name="CardItemDTOResponse">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Common" minOccurs="0" name="ErrorList" nillable="true" type="q3:ArrayOfErrorDTO" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Cards" minOccurs="0" name="Item" nillable="true" type="q4:CardDTO" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardItemDTOResponse" nillable="true" type="tns:CardItemDTOResponse" />
  <xs:complexType name="CardListDTOResponse">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Common" minOccurs="0" name="ErrorList" nillable="true" type="q5:ArrayOfErrorDTO" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Cards" minOccurs="0" name="List" nillable="true" type="q6:ArrayOfCardDTO" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Common" minOccurs="0" name="Paging" nillable="true" type="q7:PagingDTO" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardListDTOResponse" nillable="true" type="tns:CardListDTOResponse" />
</xs:schema>