mlDieselWS/Connected Services/TicketCardService/TicketCarServicesFacade11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:ERMX.Services" elementFormDefault="qualified" targetNamespace="urn:ERMX.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://services.edenred.com.mx/ExternalTicketCar/TicketCarServicesFacade.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Transactions.Requests" />
  <xs:import schemaLocation="https://services.edenred.com.mx/ExternalTicketCar/TicketCarServicesFacade.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Transactions.Responses" />
  <xs:import schemaLocation="https://services.edenred.com.mx/ExternalTicketCar/TicketCarServicesFacade.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Cards.Requests" />
  <xs:import schemaLocation="https://services.edenred.com.mx/ExternalTicketCar/TicketCarServicesFacade.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Cards.Responses" />
  <xs:import schemaLocation="https://services.edenred.com.mx/ExternalTicketCar/TicketCarServicesFacade.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Vehicles.Requests" />
  <xs:import schemaLocation="https://services.edenred.com.mx/ExternalTicketCar/TicketCarServicesFacade.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Vehicles.Responses" />
  <xs:import schemaLocation="https://services.edenred.com.mx/ExternalTicketCar/TicketCarServicesFacade.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Orders.Requests" />
  <xs:import schemaLocation="https://services.edenred.com.mx/ExternalTicketCar/TicketCarServicesFacade.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Orders.Responses" />
  <xs:import schemaLocation="https://services.edenred.com.mx/ExternalTicketCar/TicketCarServicesFacade.svc?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Merchandise.Requests" />
  <xs:import schemaLocation="https://services.edenred.com.mx/ExternalTicketCar/TicketCarServicesFacade.svc?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Merchandise.Responses" />
  <xs:import schemaLocation="https://services.edenred.com.mx/ExternalTicketCar/TicketCarServicesFacade.svc?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Invoice.Requests" />
  <xs:import schemaLocation="https://services.edenred.com.mx/ExternalTicketCar/TicketCarServicesFacade.svc?xsd=xsd19" namespace="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Invoice.Responses" />
  <xs:element name="TransactionGetItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Transactions.Requests" minOccurs="0" name="request" nillable="true" type="q1:TransactionDTORequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransactionGetItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Transactions.Responses" minOccurs="0" name="TransactionGetItemResult" nillable="true" type="q2:TransactionItemDTOResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransactionGetFilteredList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Transactions.Requests" minOccurs="0" name="request" nillable="true" type="q3:TransactionDTORequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransactionGetFilteredListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Transactions.Responses" minOccurs="0" name="TransactionGetFilteredListResult" nillable="true" type="q4:TransactionListDTOResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CardRequisitionCreditDistribution">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Cards.Requests" minOccurs="0" name="request" nillable="true" type="q5:CardRequisitionCreditDistributionDTORequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CardRequisitionCreditDistributionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Cards.Responses" minOccurs="0" name="CardRequisitionCreditDistributionResult" nillable="true" type="q6:CardRequisitionCreditDistributionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VehicleGetItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Vehicles.Requests" minOccurs="0" name="request" nillable="true" type="q7:VehicleDTORequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VehicleGetItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Vehicles.Responses" minOccurs="0" name="VehicleGetItemResult" nillable="true" type="q8:VehicleItemDTOResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderGetItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Orders.Requests" minOccurs="0" name="request" nillable="true" type="q9:OrderDTORequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderGetItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Orders.Responses" minOccurs="0" name="OrderGetItemResult" nillable="true" type="q10:OrdeItemDTOResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderGetFilteredList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Orders.Requests" minOccurs="0" name="request" nillable="true" type="q11:OrderDTORequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderGetFilteredListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Orders.Responses" minOccurs="0" name="OrderGetFilteredListResult" nillable="true" type="q12:OrderListDTOResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CardGetItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Cards.Requests" minOccurs="0" name="request" nillable="true" type="q13:CardDTORequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CardGetItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Cards.Responses" minOccurs="0" name="CardGetItemResult" nillable="true" type="q14:CardItemDTOResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CardGetFilteredList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Cards.Requests" minOccurs="0" name="request" nillable="true" type="q15:CardDTORequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CardGetFilteredListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Cards.Responses" minOccurs="0" name="CardGetFilteredListResult" nillable="true" type="q16:CardListDTOResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VehicleGetFilteredList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Vehicles.Requests" minOccurs="0" name="request" nillable="true" type="q17:VehicleDTORequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VehicleGetFilteredListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Vehicles.Responses" minOccurs="0" name="VehicleGetFilteredListResult" nillable="true" type="q18:VehicleListDTOResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MerchandiseGetFilteredList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Merchandise.Requests" minOccurs="0" name="request" nillable="true" type="q19:MerchandiseDTORequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MerchandiseGetFilteredListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Merchandise.Responses" minOccurs="0" name="MerchandiseGetFilteredListResult" nillable="true" type="q20:MerchandiseListDTOResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvoiceGetFilteredList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Invoice.Requests" minOccurs="0" name="request" nillable="true" type="q21:InvoiceDTORequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvoiceGetFilteredListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Invoice.Responses" minOccurs="0" name="InvoiceGetFilteredListResult" nillable="true" type="q22:InvoiceListDTOResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>