mlDieselWS/Connected Services/TicketCardService/TicketCarServicesFacade3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Invoice" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Invoice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InvoiceDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="AmountWithoutVat" type="xs:decimal" />
      <xs:element minOccurs="0" name="BillingFrequencyDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingPeriod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BillingTypeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Branch" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="Caption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Client" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Group" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="LetterheadDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LetterheadDateEnd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LetterheadDateStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LogTimeStampFormat" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MerchandiseQuantity" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="OperationClass" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="OrderNumber" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SendEmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerialNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VatAmount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvoiceDTO" nillable="true" type="tns:InvoiceDTO" />
  <xs:complexType name="ArrayOfInvoiceDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InvoiceDTO" nillable="true" type="tns:InvoiceDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInvoiceDTO" nillable="true" type="tns:ArrayOfInvoiceDTO" />
</xs:schema>