mlDieselWS/Connected Services/TicketCardService/TicketCarServicesFacade8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Merchandise.Requests" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Merchandise.Requests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://services.edenred.com.mx/ExternalTicketCar/TicketCarServicesFacade.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Common" />
  <xs:complexType name="MerchandiseDTORequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Identification" type="xs:unsignedInt" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Common" minOccurs="0" name="Paging" nillable="true" type="q1:PagingDTO" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ERMX.SSOServices.TicketCar.Entities.Common" minOccurs="0" name="Security" nillable="true" type="q2:SecurityDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MerchandiseDTORequest" nillable="true" type="tns:MerchandiseDTORequest" />
</xs:schema>